$bg-color: #dedede;
$bg-color-dark: #181a1b;
$fg-color: #000000;
$fg-color-dark: #ffffff;

@media (prefers-color-scheme: light) {
  html {
    background-color: $bg-color;
    color: $fg-color;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: $bg-color-dark;
    color: $fg-color-dark;
  }
}
